@charset "UTF-8";
@import './reset.css';
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #F5F5F5;
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  color: #1c1c1c;
  overflow-x: hidden;
}

a {
  outline: none;
  text-decoration: none;
  color: initial;
}

span {
  font-weight: 900;
}

.wrapper {
  width: 100vw;
  max-width: 1570px;
  /*
  padding: 1vw 9.1vw;
  */
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  flex-direction: row;
  padding: 2.3vw 0;
  padding-bottom: 1.8vw;
  padding-right: 1.4vw;
  border-bottom: 1px solid rgba(28, 28, 28, 0.07);
}
.nav ul {
  width: 100vw;
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
}
.nav ul li:first-child > a > img:hover {
  transition: 5s;
  filter: invert(68%) sepia(21%) saturate(5368%) hue-rotate(100deg) brightness(94%) contrast(86%);
}
.nav ul li > a:hover {
  transition: 0.75s;
  color: #F38120;
  text-decoration: underline;
  text-decoration-color: #F38120;
}

.contacts {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 12px;
}
.contacts .materials {
  padding-top: 1.45vw;
  width: 11vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 20px;
}
.contacts .materials p:last-child {
  padding-top: 0.4vw;
}
.contacts .price {
  padding-top: 2.9vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.contacts .price .pdf-icon {
  margin-right: 1vw;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 2vw;
  height: 2vw;
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
  border-radius: 100px;
  color: #12C868;
  transition: 0.5s;
}
.contacts .price .pdf-icon:hover {
  background-color: #12C868;
  color: #1c1c1c;
  transition: 1s;
}
.contacts .price a {
  letter-spacing: 0.04em;
  border-bottom: 4px dotted #12C868;
  padding-bottom: 0.1vw;
  transition: 0.5s;
}
.contacts .price a:hover {
  transition: 1s;
  border-color: #1c1c1c;
  color: #12C868;
}
.contacts .logo {
  /*
  padding-left: 6.15vw;
  */
  transition: 0.7s;
}
.contacts .logo:hover {
  transition: 0.7s;
  opacity: 0.7;
}
.contacts .socials {
  padding-top: 2.05vw;
  padding-right: 1.9vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.contacts .socials p::before {
  content: "•";
  color: #12C868;
  font-weight: 900;
  display: inline-block;
  width: 0.5vw;
  margin-left: -0.5vw;
}
.contacts .socials ul {
  padding-top: 0.8vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.8vw;
}
.contacts .socials ul .viber {
  background: #976FCC;
}
.contacts .socials ul .whatsapp {
  background: #12C868;
}
.contacts .socials ul .telegram {
  background: #05A0EB;
}
.contacts .socials ul .messengers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 100px;
  cursor: pointer;
  transition: 0.7s;
}
.contacts .socials ul .messengers:hover {
  transition: 0.7s;
  /*
  transform: scale(1.2);
  */
  background-color: orange;
}
.contacts .telephone {
  padding-top: 2vw;
  /*
  padding-left: 2vw;
  */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contacts .telephone .telephone-working {
  text-align: center;
}
.contacts .telephone .telephone-content {
  padding-top: 0.4vw;
}
.contacts .telephone .telephone-content a {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.05em;
  transition: 0.5s;
}
.contacts .telephone .telephone-content a:hover {
  transition: 0.7s;
  /*
  transform: scale(1.1);
  */
  color: orange;
  border-color: #1c1c1c;
}
.contacts .telephone .telephone-call {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.contacts .telephone .telephone-call a {
  padding-top: 0.5vw;
  color: #12C868;
  border-bottom: 0.21vw dotted #12C868;
  padding-bottom: 0.2vw;
  transition: 0.5s;
}
.contacts .telephone .telephone-call a:hover {
  transition: 0.7s;
  /*
  transform: scale(1.1);
  */
  color: orange;
  border-color: #1c1c1c;
}

.main {
  padding-bottom: 7vw;
  padding-top: 2vw;
  display: flex;
  flex-direction: row;
  gap: 3.7vw;
}
.main .aside {
  padding-top: 2vw;
  /*
  background-color: #1c1c1c;
  */
}
.main .aside .aside-container {
  padding-bottom: 0.9vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 157px;
  background: #FFFFFF;
  box-shadow: 0px 0px 75px rgba(0, 0, 0, 0.03);
  border-radius: 20px;
  border-top-right-radius: 65px;
  font-size: 14px;
  line-height: 22px;
  gap: 0.4vw;
  clip-path: polygon(100% 4%, 100% 100%, 0 100%, 0 0);
}
.main .aside .aside-container:hover {
  transition: 0.5s;
  background-color: rgba(18, 200, 104, 0.9);
}
.main .aside .aside-container .aside-advise {
  display: none;
}
.main .aside .aside-container .aside-item {
  text-align: center;
}
.main .aside .aside-container .aside-item:hover {
  transition: 0.5s;
  cursor: pointer;
  color: #FFFFFF;
}
.main .aside .aside-container .aside-item p {
  padding: 0 1.8vw;
  padding-bottom: 1vw;
}
.main .aside .aside-container .guarantee {
  padding-top: 2vw;
}
.main .aside .aside-container .credit > p {
  padding: 0 1.5vw;
  padding-bottom: 1vw;
}
.main .main-content {
  padding-top: 2.4vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.main .main-content .main-content__heading {
  max-width: 645px;
}
.main .main-content .main-content__heading h1 {
  font-size: 55px;
  line-height: 85px;
}
.main .main-content .main-content__montage {
  padding-top: 1.2vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.4vw;
}
.main .main-content .main-content__montage .rectangle {
  margin-top: 0.3vw;
  height: 6px;
  width: 6px;
  border: 1.5px solid #12C868;
  border-radius: 50%;
  display: inline-block;
}
.main .main-content .main-content__montage .rectangle:nth-child(2) {
  opacity: 0.75;
}
.main .main-content .main-content__montage .rectangle:nth-child(3) {
  opacity: 0.5;
}
.main .main-content .main-content__montage .rectangle:nth-child(4) {
  opacity: 0.25;
}
.main .main-content .main-content__montage p {
  font-size: 32px;
}
.main .main-content .main-content__btns {
  display: flex;
  flex-direction: row;
  gap: 0.95vw;
  padding-top: 2.5vw;
}
.main .main-content .main-content__question {
  max-width: 220px;
  padding-top: 1.95vw;
  gap: 0.6vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.02em;
}

.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: none;
  width: 375px;
  padding: 27px 2vw 29px;
  font-family: "Montserrat", sans-serif;
  box-shadow: inset 0px 0px 22px rgba(255, 255, 255, 0.25);
  border-radius: 500px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #fefefe;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  gap: 21px;
  justify-content: flex-end;
  transition: 0.7s;
}
.btn:hover {
  transition: 0.7s;
  opacity: 0.7;
}

.btn-green {
  background-color: #12C868;
}
.btn-green img {
  padding-right: 18px;
}

.btn-orange {
  width: 335px;
  background-color: #F38120;
}
.btn-orange img {
  padding-right: 8px;
}

/* Burger Menu */
/*Modal Window*/
.modal-container {
  display: flex;
  flex-direction: column;
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal {
  position: relative;
  width: 550px;
  padding-top: 70px;
  padding-bottom: 93px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fefefe;
  text-align: center;
  border-radius: 35px;
}
.modal .modal-heading {
  width: 350px;
}
.modal .modal-heading h2 {
  font-size: 30px;
  line-height: 50px;
  font-weight: 700;
}
.modal .modal-heading p {
  padding-top: 14px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.modal .modal-form {
  display: flex;
  flex-direction: column;
}
.modal .modal-form label {
  padding-top: 28px;
  padding-bottom: 12px;
  padding-left: 30px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  opacity: 0.75;
  text-align: left;
}
.modal .modal-form input {
  padding: 24px 46px;
  width: 356px;
  border-radius: 500px;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
  color: #A7A7A7;
}
.modal .modal-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}
.modal .modal-btn button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 18px;
  padding: 24px 46px;
  width: 356px;
  border-radius: 500px;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  letter-spacing: 0.02em;
  background-color: #F38120;
  color: #FFFFFF;
  text-align: center;
}
.modal .modal-btn button img {
  transform: rotate(45deg);
}
.modal .modal-btn .modal-checkbox {
  padding: 20px 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 19px;
}
.modal .modal-btn .modal-checkbox input {
  accent-color: #F38120;
  color: #fefefe;
}
.modal .modal-btn .modal-checkbox .agreement {
  text-align: left;
  line-height: 21px;
}
.modal .modal-btn .modal-checkbox .agreement a {
  color: #F38120;
}

.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}

.close:hover {
  opacity: 1;
}

.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 20px;
  width: 4px;
  background-color: #A0A0A0;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

/*Close Modal Window*/
/*Error Modal*/
@keyframes slidein {
  from {
    right: -30vw;
  }
  to {
    right: 2vw;
  }
}
.error-modal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  display: none;
  width: 25vw;
  height: 10vh;
  position: fixed;
  right: 2vw;
  bottom: 2vh;
  color: red;
  font-size: 20px;
  background-color: #fefefe;
  border-radius: 15px;
  text-align: center;
  transition: 0.5s ease-in-out;
  animation-name: slidein;
  animation-duration: 2s;
}

.open-modal {
  display: flex;
}

/* aside Btn */
.aside-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 14px;
  top: 50px;
  width: 33px;
  height: 33px;
  opacity: 1;
  background-color: #F38120;
  border-radius: 50%;
  text-align: center;
}

.aside-btn:hover {
  background-color: #12C868;
  opacity: 0.65;
}

.aside-btn:before, .aside-btn:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 10px;
  width: 2px;
  background-color: #FFFFFF;
  transition: 1s ease-in;
}

.aside-btn:before {
  transform: rotate(90deg);
}

.burger input {
  display: none;
}

@media (max-width: 1024px) {
  body {
    overflow-x: hidden;
    background-position: center;
  }

  .header .nav {
    border: none;
    padding: 0;
  }
  .header .nav ul {
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 20vh;
    gap: 20px;
    z-index: 4;
    opacity: 0;
  }
  .header .nav ul li:last-child {
    display: none;
  }
  .header .nav .open-item {
    opacity: 1;
    transition: 5s;
    gap: 20px;
  }
  .header .contacts {
    position: relative;
    align-items: center;
    padding: 0 2vw;
  }
  .header .contacts .telephone, .header .contacts .logo {
    z-index: 5;
  }
  .header .contacts .materials, .header .contacts .price, .header .contacts .socials {
    opacity: 0;
    width: 90vw;
    padding: 0;
    position: absolute;
    z-index: 4;
    transition: 2s;
  }
  .header .contacts .materials {
    top: 60vh;
    right: 5%;
  }
  .header .contacts .price {
    top: 70vh;
  }
  .header .contacts .price .pdf-icon {
    padding: 15px;
  }
  .header .contacts .socials {
    top: 80vh;
    right: 5%;
  }
  .header .contacts .open-item {
    display: flex;
    animation-duration: 5s;
    animation-name: transparency;
    transition: 5s;
    opacity: 1;
  }

  .main {
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    padding-bottom: 30vh;
  }
  .main .aside .aside-container {
    position: relative;
    align-items: flex-start;
    padding: 20px 45px 20px 23px;
  }
  .main .aside .aside-container:hover {
    transition: 0.2s;
    background-color: rgba(255, 255, 255, 0.95);
  }
  .main .aside .aside-container .aside-advise {
    display: block;
    font-size: 10px;
    line-height: 10px;
    color: #B5B5B5;
    padding-bottom: 15px;
  }
  .main .aside .aside-container .aside-advise:hover {
    color: #12C868;
  }
  .main .aside .aside-container .aside-item {
    text-align: left;
  }
  .main .aside .aside-container .aside-item p {
    padding: 0;
  }
  .main .aside .aside-container .aside-item p:hover {
    color: #12C868;
  }
  .main .main-content {
    align-items: center;
    justify-content: center;
  }
  .main .main-content__heading {
    text-align: center;
  }
  .main .main-content__cost {
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .main .main-content__cost .main-content__btns {
    flex-direction: column;
  }
  .main .main-content__cost .main-content__btns .btn {
    padding: 14px 0;
    justify-content: flex-start;
    width: 276px;
    font-size: 10px;
    font-weight: 200;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.02em;
  }
  .main .main-content__cost .main-content__btns .btn img {
    padding: 0;
    padding-right: 39px;
  }
  .main .main-content__cost .main-content__btns .btn-orange span {
    padding-left: 57px;
  }
  .main .main-content__cost .main-content__btns .btn-green span {
    padding-left: 45px;
  }
  .main .main-content__cost .main-content__question {
    max-width: 40vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .aside {
    position: fixed;
    bottom: -47.5vh;
    transition: 3s;
  }

  /* Close Button for aside Container */
  .aside-btn__active:before, .aside-btn__active:after {
    position: absolute;
    left: 15px;
    content: " ";
    height: 16px;
    width: 2px;
    background-color: #FFFFFF;
  }

  .aside-btn__active:before {
    transform: rotate(45deg);
  }

  .aside-btn__active:after {
    transform: rotate(-45deg);
  }

  /*Animations for aside Container*/
  @keyframes aside-animation {
    from {
      bottom: -33vh;
    }
    to {
      bottom: 5vh;
    }
  }
  .animation-bottom {
    animation-duration: 5s;
    animation-name: aside-animation;
    bottom: 5vh;
  }

  /* Burger Menu */
  .burger {
    display: block;
    position: relative;
    z-index: 2;
    -webkit-user-select: none;
    user-select: none;
  }

  .burger input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */
    -webkit-touch-callout: none;
  }

  .burger span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }

  .burger span:first-child {
    transform-origin: 0% 0%;
  }

  .burger span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  .burger input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-22px, -1px);
    background: #232323;
  }

  .burger input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  .burger input:checked ~ span:nth-last-child(2) {
    opacity: 1;
    transform: rotate(-45deg) translate(-19px, -1px);
  }

  .menu {
    display: block;
    position: fixed;
    width: 100vw;
    height: 200%;
    /*
    padding-top: 125px;
    */
    right: -100vw;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: 3s ease-out;
    z-index: 1;
  }

  /*Open Menu*/
  .open-menu {
    right: 100vw;
    transition: 1.5s ease-in-out;
  }

  /*When menu is open, body can't swipe*/
  .open {
    overflow: hidden;
  }

  /*Transparency Animation*/
  @keyframes transparency {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
@media (max-width: 768px) {
  .header nav > ul > li {
    font-size: 10px;
  }
  .header .contacts .logo > img {
    width: 75px;
    height: 52px;
  }
  .header .contacts .materials {
    top: 60vh;
    right: 5%;
    font-size: 8px;
    line-height: 14px;
  }
  .header .contacts .price {
    top: 67.5vh;
  }
  .header .contacts .price .pdf-icon {
    padding: 15px;
  }
  .header .contacts .socials {
    top: 75vh;
    right: 5%;
  }
  .header .telephone .telephone-working {
    font-size: 7px;
    line-height: 9px;
    letter-spacing: 0.02em;
  }
  .header .telephone .telephone-content a {
    font-size: 14px;
  }
  .header .telephone .telephone-call > a {
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    letter-spacing: 0.04em;
  }

  .main .main-content .main-content__heading h1 {
    font-size: 18px;
    line-height: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
